@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ct = custom */
.ct-top-menu-item {
    @apply  
    cursor-pointer
    py-1
  hover:text-gray-900
    relative 
    /* line effect hover ease in out :hover */
    after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-light-coffee after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.ct-top-menu-active {
@apply text-gray-900 
after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-light-coffee after:lg:h-0.5 after:lg:w-full;
}

.ct-icon {
    @apply w-5 h-5 inline-block;
}

.ct-badge-circle {
    @apply text-xs text-center rounded-full px-1.5;
}

.ct-top-menu-expanded {
    @apply absolute left-0 top-16 z-50 w-full bg-white text-center animate-slideDown ;
}

.ct-subheadline {
    @apply flex items-center justify-center mb-24 text-xs mx-4 font-semibold tracking-[2px] text-gray-400
}

.ct-subheadline-label {
    @apply mx-3 uppercase
}

.ct-subheadline-labelLine {
    @apply w-7 h-px bg-gray-200
}

.ct-button-main {
    @apply text-xs font-bold uppercase w-max tracking-[2px] px-6 py-5 cursor-pointer hover:bg-opacity-80  hover:scale-110 duration-300 hover:font-black
}


.ct-button-card {
    @apply absolute bottom-3 right-3 left-3 px-6 py-4 text-xs tracking-[2px] uppercase bg-white text-black hidden
    group-hover:block group-hover:animate-slideUp 
    font-bold text-center duration-[400ms]  hover:bg-opacity-90  hover:transition-all hover:ease-in-out hover:duration-[400ms]
}
